<h1 class="text-center">VISTA DEL ADMIN</h1>
<table class="table table-dark table-striped table-hover">
    <tr>
        <td>ID</td>
        <td>NIT</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Password</td>
        <td>Estado</td>
        <td>Acceso</td>
    </tr>
</table>