@{
    ViewData["Title"] = "Hospital La Misericordia";
}
@model Asesor;
<div class="text-center">
    <h1 class="display-4">TURNO ÁGIL</h1>
    <h3>Bienvenido @Model.Nombre</h3>
    <h2>
        ASESOR
    </h2>
    <p>ASIGNACIÓN DE TURNOS</p>
</div>

<div class="container">
    <div class="row">
        <!-- Vista de los turnos -->
        <div class="col-md-6">
            <h2 class="text-center">Turnos en pantalla</h2>
            <ul class="turnos-list text-center">
                <li>CM-13</li>
                <li>CM-14</li>
                <li>AM-6</li>
                <li>CM-15</li>
                <li>AM-12</li>
                <li>CM-7</li>
            </ul>
        </div>
        <!-- Botones de control -->
        <div class="col-md-6">
            <h2 class="text-center">Pasar Turno</h2>
            <div class="botones-contenedor">
                <button class="boton-elegante">Siguiente en Fila</button>
                <button class="boton-elegante">Información General (IG)</button>
                <button class="boton-elegante">Pago de Facturas (PF)</button>
                <button class="boton-elegante">Autorización de Medicamentos (AM)</button>
                <button class="boton-elegante">Solicitud de Cita Médica (CM)</button>
            </div>
        </div>
    </div>
</div>