@{
    ViewData["Title"] = "Hospital La Misericordia";
}


<div class="text-center">
    <h1 class="display-4">TURNO ÁGIL</h1>
    <h2>
        ADMINISTRADOR
    </h2>
    <p>ASIGNACIÓN DE TURNOS</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>CM-12</li>
                <li>IG-12</li>
                <li>CM-13</li>
                <li>CM-14</li>
                <li>AM-6</li>
                <li>CM-15</li>
                <li>AM-12</li>
                <li>CM-7</li>
            </ul>

        </div>
        <div class="col-md-6">
            <div class="servicio">
                <div>
                    <a class="btn btn-success" href="#">SIGUIENTE EN FILA
                    </a>
                </div>
            </div>
            <div class="servicio">
                <div>34</div>
                <div>
                    <a class="btn btn-success" href="#">INFORMACIÓN GENERAL (IG)
                    </a>
                </div>
            </div>
            <div class="servicio">
                <div>12</div>
                <div>
                    <a class="btn btn-success" href="#">PAGO DE FACTURAS (PF)
                    </a>
                </div>
            </div>
            <div class="servicio">
                <div>12</div>
                <div>
                    <a class="btn btn-success" href="#">AUTORIZACIÓN DE MEDICAMENTOS (AM)
                    </a>
                </div>
            </div>
            <div class="servicio">
                <div>12</div>
                <div>
                    <a class="btn btn-success" href="#"> SOLICITUD DE CITA MÉDICA (CM)
                    </a>
                </div>
            </div>
           
        </div>
    </div>

</div>