@{
    ViewData["Title"] = "Hospital La Misericordia";
}


<div class="text-center">
    <h1 class="display-4">TURNO ÁGIL</h1>
    <p>DASHBOARD</a></p>
</div>

<div class="container">
    <div class="row">
        
        <div class="col">
            <form action="">
                    <label for="Name">USUARIO</label> 
                    <input type="text"  name="Nit del usuario" />

                    <label for="Name">CONTRASEÑA</label> 
                    <input type="text"  name="password" />
                
                <input type="submit" value="INGRESAR">
            </form>
        </div>

    </div>
</div>