@{
    ViewData["Title"] = "Hospital La Misericordia";
}

@model Asesor

<div class="text-center">
    <h1 class="display-4">TURNO ÁGIL</h1>
    <p>ADMINISTRADOR</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="Login" asp-controller="Asesores" method="post">

                <label for="Name">NIT</label> 
                <input type="text"  name="Nit del usuario" asp-for="NIT"/>

                <label for="Name">CONTRASEÑA</label> 
                <input type="text"  name="password" asp-for="Password"/>
                
                <button class="btn btn-danger" type="submit">Ingresar</button>

            </form>
            <div class="mt-2" style="color: rgb(185, 22, 22);">@ViewBag.Error</div>
        </div>
    </div>
</div>