@{
    ViewData["Title"] = "Hospital La Misericordia";
}

@model Turno;

@* @using (Html.BeginForm("EnviarDatos", "HomeController", FormMethod.Post)); *@

<div class="container align-content-center">
    <h1 class="d-flex m-auto justify-content-center">Turno Ágil</h1>
    <h4 class="d-flex m-auto justify-content-center">Hospital la Misericordia</h4>
    <img class="d-flex m-auto justify-content-center " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLkkliLswMSEYw47QCmXppTm2vU7KiQMFA8_I6VdQVVA&s" alt="Hospital la Misericordia">
    <form asp-controller="Home" asp-action="EnviarDatos" method="post">
        <div class="row mt-5">
            <div class="col">
                <fieldset>
                    <legend>Selecciona el tipo de documento:</legend>

                    <div>
                        <input asp-for="TipoDocumento" type="radio" name="TipoDocumento" value="Cedula de Ciudadanía" checked />
                        <label>Cedula de Ciudadanía</label>
                    </div>

                    <div>
                        <input asp-for="TipoDocumento" type="radio"  name="TipoDocumento" value="Visa" />
                        <label>Visa</label>
                    </div>

                    <div>
                        <input  asp-for="TipoDocumento" type="radio"  name="TipoDocumento" value="Pasaporte" />
                        <label>Pasaporte</label>
                    </div>

                    <div>
                        <input asp-for="TipoDocumento" type="radio"  name="TipoDocumento" value="Cedula de Extranjería" />
                        <label>Cedula de Extranjería</label>
                    </div>

                </fieldset>
            </div>
            
            <div class="col">
                <fieldset>
                    <legend>Número de documento:</legend>
                    <input asp-for="Documento" type="text" name="NumeroDocumento" />
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Servicio">Solicitar</a>
                </fieldset>
            </div>
        </div>
    </form>
</div>