html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Estilos agregados por Juan */

/*Estilos para el login sencillo*/

.form {
  display: contents;
  background-color: #fff;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
  display: inline-flexbox;
  align-items: center;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

/*Termina estilos del login */

/*Estilos para la vista incluida los botones del Asesor*/
/* Estilos para los botones */
.container {
  margin-top: 50px;
}

.col-md-6 {
  padding: 20px;
}

.turnos-list {
  list-style: none;
  padding-left: 0;
}


.botones-contenedor {
  display: flex;
  flex-direction: column;
}

.boton-elegante {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.boton-elegante::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.boton-elegante:hover {
  color: rgb(1, 1, 1);
}

.boton-elegante:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.boton-elegante:hover::before {
  top: -30px;
  left: -30px;
}

/*Termina los estilos agregados por Juan */