@{
    ViewData["Title"] = "Turnoasignado";
}


<div class="text-center">
    <h1 class="display-4">TURNO ÁGIL</h1>
    <p>HOSPITAL LA MISERICORDIA</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>TURNO ÁGIL</h3>
            <div>
                <ul>
                    <li>
                        CM-12
                    </li>
                    <li>
                        IG-24
                    </li>
                    <li>
                        CM-13
                    </li>
                    <li>
                        AM-2
                    </li>
                    <li>
                        IG-25
                    </li>
                    <li>
                        IG-26
                    </li>
                    <li>
                        AM-3
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <h2>
                TURNO ASIGNADO
            </h2>
            <p class="">
                CM-12
            </p>
            <div>
                <small>9:00</small>
            </div>
            
        </div>


    </div>
</div>